<div class="steps-content">
    <ng-container *ngIf="current === 0">
        <section data-aos="zoom-in-down" class="d-flex align-items-center justify-content-center py-5">
            <div class="col-md-8">
                <div class="card rounded-3 overflow-hidden position-relative">
                    <div class="row row-cols-1 h-100">
                        <div class="col p-30px pb-60px">
                            <div class="d-flex align-items-center justify-content-between">
                                <p routerLink="/pre-step" class="fs-14px text-gray-600 mb-0 pointer">
                                    <!-- <i class='bx bx-right-arrow-alt bx-tada align-middle ms-1 fs-5'></i> -->
                                    <i class='bx bx-right-arrow-alt align-middle ms-1 fs-5'></i>
                                    <span>العودة</span>
                                </p>

                                <div class="d-flex pointer align-items-center justify-content-center rounded-3 me-auto bg-light"
                                    style="height: 26px; width: 26px;">
                                    <i class="bx bx-x text-gray-600 fs-5"></i>
                                </div>
                            </div>
                            <div class="px-40px text-center mt-40px">

                                <h4>جاري إرسال رسالتك الأسكانية</h4>
                                <p class="fs-14px text-gray-600 mb-0">الرجاء الأنتظار بعض الدقائق فقط</p>

                                <div class="my-40px">
                                    <img src="assets/images/submission.svg" style="width: 230px;" alt="">
                                </div>

                                <div class="px-60px">
                                    <nz-progress nzStrokeLinecap="round" [nzPercent]="percent"></nz-progress>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute" style="  bottom: -9px; left: 0; right: 0;">
                        <nz-progress [nzPercent]="50" [nzShowInfo]="false"></nz-progress>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
    <ng-container *ngIf="current === 1">
        <section data-aos="zoom-in-down" class="d-flex align-items-center justify-content-center py-5">
            <div class="col-md-8">
                <div class="card rounded-3 overflow-hidden position-relative">
                    <div class="row row-cols-1 h-100">
                        <div class="col p-30px pb-40px">
                            <div class="d-flex align-items-center justify-content-between">
                                <p routerLink="/pre-step" class="fs-14px text-gray-600 mb-0 pointer">
                                    <!-- <i class='bx bx-right-arrow-alt bx-tada align-middle ms-1 fs-5'></i> -->
                                    <i class='bx bx-right-arrow-alt align-middle ms-1 fs-5'></i>
                                    <span>العودة</span>
                                </p>

                                <div class="d-flex pointer align-items-center justify-content-center rounded-3 me-auto bg-light"
                                    style="height: 26px; width: 26px;">
                                    <i class="bx bx-x text-gray-600 fs-5"></i>
                                </div>
                            </div>
                            <div class="px-40px text-center mt-40px">

                                <h4>تم إرسال رسالتك بنجاح</h4>
                                <p class="fs-14px text-gray-600 mb-0">الرجاء الأنتظار بعض الدقائق فقط</p>

                                <div class="my-40px">
                                    <img src="assets/images/check-animation.svg" style="width: 258px;" alt="">
                                </div>

                                <a routerLink="/" class="text-info">
                                    خروج
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute" style="  bottom: -9px; left: 0; right: 0;">
                        <nz-progress [nzPercent]="100" [nzShowInfo]="false"></nz-progress>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</div>