//
// Google font - Poppins
//

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&display=swap');

$font-en: 'Baloo 2', cursive;
$font-en: 'Baloo 2', cursive;
$font-ar: 'Cairo',
sans-serif;
$font-ar: 'Cairo',
sans-serif;


// Define a mixin to apply the font based on language
@mixin font-lang($lang) {
  @if $lang == 'en' {
    font-family: $font-en;
  } @else if $lang == 'ar' {
    font-family: $font-ar;
  }
}

// Use the mixin in your styles
html {
    --bs-body-font-family: $font-en;
  @include font-lang('en');
}
html[dir="rtl"] {
    --bs-body-font-family: $font-ar;
  @include font-lang('ar');
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    text-transform: none;
  }
}
