// pointer
.pointer {
  cursor: pointer;
}

.object-cover {
  object-fit: cover;
  object-position: center;
}

@import url("https://fonts.cdnfonts.com/css/neo-sans-arabic");
body {
  direction: rtl;
  text-align: right;

  background-color: #40444c;
  font-family: "Neo Sans Arabic", sans-serif;
}

.card-container .card {
  box-shadow: 4px 5px 12px rgba(33, 33, 33, 0.03);

  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;

  &:hover {
    box-shadow: 0 1px 12px rgba(33, 33, 33, 0.09);
    transform: scale(1.01);
    -webkit-transform: scale();
    -moz-transform: scale();
    -ms-transform: scale();
    -o-transform: scale();
  }
}
