<div class="steps-content">
    <ng-container *ngIf="current === 0">
        <section data-aos="zoom-in-down" class="d-flex align-items-center justify-content-center py-5">
            <div class="col-md-8">
                <div class="card rounded-3 overflow-hidden position-relative">
                    <div class="row row-cols-1 h-100">
                        <div class="col p-30px">
                            <div class="d-flex align-items-center justify-content-between">
                                <p routerLink="/pre-step" class="fs-14px text-gray-600 mb-0 pointer">
                                    <!-- <i class='bx bx-right-arrow-alt bx-tada align-middle ms-1 fs-5'></i> -->
                                    <i class='bx bx-right-arrow-alt align-middle ms-1 fs-5'></i>
                                    <span>العودة</span>
                                </p>

                                <div class="d-flex pointer align-items-center justify-content-center rounded-3 me-auto bg-light"
                                    style="height: 26px; width: 26px;">
                                    <i class="bx bx-x text-gray-600 fs-5"></i>
                                </div>
                            </div>
                            <div class="px-40px mt-40px">

                                <div class="position-relative w-fit-content mb-30px">
                                    <div class="position-absolute" style="top: -25px; right:-20px">
                                        <img src="assets/images/warning-star.svg" class="img-fluid" alt="">
                                    </div>
                                    <h5>قم بكتابة وصف منزل أحلامك</h5>
                                    <!-- <p class="fs-14px text-gray-300 mb-0">قم بأختيار مصدر شقك الأسكانية كي تستكمل باقي الخطوات
                                    </p> -->
                                    <div class="position-absolute" style="bottom: -20px; left: -40px;">
                                        <img src="assets/images/warning-star.svg" class="img-fluid" alt="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <p class="fs-14px text-gray-600 mb-1">وصف مختصر عن المنزل</p>
                                    <input class="rounded-3" nz-input placeholder="اكتب وصف مختصر"
                                        [(ngModel)]="houseDescription" type="text" />
                                </div>

                                <div class="mt-3 position-relative">
                                    <div class="position-absolute" style="top: -115px;left: 15px;">
                                        <img src="assets/images/message-icon.svg" class="img-fluid" alt="">
                                    </div>
                                    <p class="fs-14px text-gray-600 mb-1">وصف تعبيري عن المنزل</p>
                                    <!-- <ckeditor [editor]="Editor" [(ngModel)]="editorData"></ckeditor> -->

                                    <div>
                                        <div class="main-container">
                                            <div class="editor-container editor-container_classic-editor"
                                                #editorContainerElement>
                                                <div class="editor-container__editor">
                                                    <div #editorElement>
                                                        <ckeditor [(ngModel)]="editorData" [editor]="Editor"
                                                            [config]="editorConfig" *ngIf="isLayoutReady" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="w-100 text-center mt-80px">
                                    <button [disabled]="!editorData || !houseDescription"
                                        class="btn btn-info px-60px py-1" (click)="next()">
                                        الخطوة التالية
                                    </button>

                                    <p class="fs-12px text-gray-500 mt-4 mb-0">
                                        قم بالضغط على زر "بدء" للبدء في العملية، لادخال معلومات المنزل
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="position-absolute" style="  bottom: -9px; left: 0; right: 0;">
                        <nz-progress [nzPercent]="50" [nzShowInfo]="false"></nz-progress>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
    <ng-container *ngIf="current === 1">
        <section data-aos="zoom-in-down" class="d-flex align-items-center justify-content-center py-5">
            <div class="col-md-8">
                <div class="card rounded-3 overflow-hidden position-relative">
                    <div class="row row-cols-1 h-100">
                        <div class="col p-30px">
                            <div class="d-flex align-items-center justify-content-between">
                                <p (click)="pre()" class="fs-14px text-gray-600 mb-0 pointer">
                                    <!-- <i class='bx bx-right-arrow-alt bx-tada align-middle ms-1 fs-5'></i> -->
                                    <i class='bx bx-right-arrow-alt align-middle ms-1 fs-5'></i>
                                    <span>العودة</span>
                                </p>

                                <div class="d-flex pointer align-items-center justify-content-center rounded-3 me-auto bg-light"
                                    style="height: 26px; width: 26px;">
                                    <i class="bx bx-x text-gray-600 fs-5"></i>
                                </div>
                            </div>
                            <div class="px-40px mt-40px">


                                <div class="mb-30px">
                                    <!-- <div class="position-absolute" style="top: -25px; right:-20px">
                                        <img src="assets/images/warning-star.svg" class="img-fluid" alt="">
                                    </div> -->
                                    <h5>قم بكتابة نص الرسالة المرسلة</h5>
                                    <p class="fs-14px text-gray-300 mb-0">
                                        قم بتسمية حملتك و تاريخ إرسال الحملة المتوقع
                                    </p>
                                    <!-- <div class="position-absolute" style="bottom: -20px; left: -40px;">
                                        <img src="assets/images/warning-star.svg" class="img-fluid" alt="">
                                    </div> -->
                                </div>


                                <div class="mt-3 bg-gray-400 rounded-3 p-3 border position-relative"
                                    style="z-index: 1;">
                                    <div class="position-relative">
                                        <div class="position-absolute" style="top: -120px; left: 15px; z-index: 0;">
                                            <img src="assets/images/message-icon.svg"
                                                style="width: 144px; height: 144px;" alt="">
                                        </div>
                                        <p class="fs-14px text-gray-600 mb-2">
                                            <i class="bx bx-calendar ms-2 align-middle"></i>
                                            تصميم المنزل
                                        </p>

                                        <nz-radio-group [(ngModel)]="radioValue">
                                            <label nz-radio nzValue="A">تصميم حديث</label>
                                            <label nz-radio nzValue="B">تصميم حديث وذكي</label>
                                        </nz-radio-group>
                                    </div>
                                </div>

                                <div class="card rounded-3 overflow-hidden border mt-3">
                                    <div class="card-header border-bottom bg-gray-400">
                                        <p class="fs-14px text-gray-600 mb-0">
                                            <i class="bx bx-pencil me-s align-middle"></i>
                                            معاينة وصف المنزل
                                        </p>

                                        <p class="fs-14px text-gray-500 mb-0">الموضوع: <span class="text-primary">فيلا
                                                قريبة من التجمع الخامس</span></p>
                                    </div>

                                    <div class="card-body" [innerHTML]="editorData">

                                    </div>
                                </div>


                                <div class="w-100 text-center mt-80px">
                                    <button [disabled]="!radioValue" class="btn btn-info px-60px py-1"
                                        (click)="submit()">
                                        الخطوة التالية
                                    </button>

                                    <p class="fs-12px text-gray-500 mt-4 mb-0">
                                        قم بالضغط على زر "بدء" للبدء في العملية، لادخال معلومات المنزل
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="position-absolute" style="  bottom: -9px; left: 0; right: 0;">
                        <nz-progress [nzPercent]="50" [nzShowInfo]="false"></nz-progress>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</div>