<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <img src="assets/images/logo-white.png" class="img-fluid mb-4" style="max-width: 222px;" alt="">
        <h1 class="text-white text-uppercase">Your Dream House</h1>

        <p class="text-white">منصة تجارة العقارات السكنية</p>

        <a [routerLink]="['/pre-step']" class="btn btn-primary px-60px">
            بدأ الإستخدام

            <!-- <i class="mdi mdi-arrow-left align-middle ms-2"></i> -->
        </a>
    </div>

</div>